video{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.App{
    background-color: rgba(255, 255, 255, 0.5);
}

.container{
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
 }
  

.search{
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
  margin-left: 0px;
  /* box-shadow: inset 0px 0px 0px 4px #ddd6e8; */
 
}

.column{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  }

.tasty {
  width:200px;
  height: 200px;
  border: #fff double 15px;
  border-radius: 50%;
 
}
.icon{
  width: 32px;
}

.list{
  display: flex;
  flex-direction: column;
  align-items: center;
  }

h1, h2, ul, p{
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none; 
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

li {
  display: block;
  padding: .4em .4em .4em .8em;
  margin: .5em 0 .5em 2.5em;
  background: #ddd6e8;
  border-radius: 7px;
}

li:hover {
  background: #DCDDE1;
}

button {
  background: #dbecc4;
  border: none;
  border-radius: 12px;
  margin-top: 10px;
}

